{% extends 'problems/base.html' %}
{% load bootstrap3 %}
{% block content %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Add a problem</h3>
  </div>
  <form action="{% url 'edit_problem' problem.id %}" method="POST" class="post-form">{% csrf_token %}
      <div class="panel-body">
          {% bootstrap_form problem_form %}
          {% bootstrap_form content_form %}
          {% bootstrap_form solution_form %}
          <div class="form-group">
              <label class="control-label" for="id_categories">Categories</label>
              <input class="form-control" id="id_categories" maxlength="1000" name="categories" placeholder="Categories" value="{{categories}}" title="" type="text" required="">
          </div>
      </div>
      <div class="panel-footer">
          <button type="submit" class="save btn btn-success">Save</button>
      </div>
  </form>
</div>

{% endblock %}
