{% extends "problems/base.html" %}
{% load bootstrap3 %}
{% block content %}
{% bootstrap_messages %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Create an account</h3>
  </div>
  <form method="POST" class="post-form">{% csrf_token %}
    <div class="panel-body">
      {% bootstrap_form form %}
      {% if form.errors %}
          {% for field in form %}
              {% for error in field.errors %}
              <div class="alert alert-danger">
                  <strong>{{ error|escape }}</strong>
              </div>
              {% endfor %}
          {% endfor %}
          {% for error in form.non_field_errors %}
          <div class="alert alert-danger">
              <strong>{{ error|escape }}</strong>
          </div>
          {% endfor %}
      {% endif %}
    </div>
    <div class="panel-footer">
      <button type="submit" class="save btn btn-default">Create</button>
    </div>
  </form>
</div>

{% endblock %}
