{% extends 'problems/base.html' %}
{% load bootstrap3 %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            {% if fork %}
                <h3>Fork problem</h3>
            {% else %}
                <h3>Edit problem</h3>
            {% endif %}
        </div>
        <form method="POST" class="post-form">{% csrf_token %}
            <div class="panel-body">
                {% bootstrap_form problem_form %}
                {% bootstrap_form content_form %}
                {% bootstrap_form solution_form %}
                <div class="form-group">
                    <label class="control-label" for="id_complexity">Complexity</label>
                    <input class="form-control" id="id_complexity" maxlength="1000" name="complexity" placeholder="Complexity" title="" type="text" required="" value="{{ complexity }}">
                </div>
                <div class="form-group">
                    <label class="control-label" for="id_languages">Languages</label>
                    <input class="form-control" id="id_languages" maxlength="1000" name="languages" placeholder="Languages" title="" type="text" required="" value="{{ languages }}">
                </div>
                <div class="form-group">
                    <label class="control-label" for="id_categories">Categories</label>
                    <input class="form-control" id="id_categories" maxlength="1000" name="categories" placeholder="Categories" title="" type="text" required="" value="{{ categories }}">
                </div>
            </div>
            <div class="panel-footer">
                <button type="submit" class="save btn btn-success">Save</button>
            </div>
    </form>
    </div>
{% endblock %}
