{% extends 'problems/base.html' %}
{% block content %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h1>User Guide</h1>
  </div>
  <div class="panel-body">
    <div id="searchPanel" class="panel panel-default">
      <div class="panel-heading" style="cursor:pointer" data-toggle="collapse" data-target="#search">
        <h3>Search Function</h3>
      </div>
      <div class="panel-body panel-collapse collapse panel-group" id="search">
        <div class="panel panel-default">
          <div class="panel-body">
            The search is a union of all the criteria.
            The search fields will attempt to autocomplete your query according to the information already avaliable to the database. The following fields are available:
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>Paradigms</h4>
          </div>
          <div class="panel-body">
            Paradigms are general types of problems. For example: string manipulation.
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>Algorithms</h4>
          </div>
          <div class="panel-body">
            Search for problems which require a particular algorithm to solve them. For example: binary search, dijkstra's algorithm.
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>Data Structures</h4>
          </div>
          <div class="panel-body">
            Search for problems with solutions that use a particular data structure. For example: array, stack.
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>Complexity</h4>
          </div>
          <div class="panel-body">
            Big O notation. Find problems with solutions of a particular complexity. For example: O(nlogn), O(n!)
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>Languages</h4>
          </div>
          <div class="panel-body">
            Search for problems with solutions in a particular language. For example: Haskell, Python.
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>Difficulty</h4>
          </div>
          <div class="panel-body">
            Find problems of a particular difficulty.
          </div>
        </div>
        {% if user.is_authenticated and user.is_active %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>Visibility</h4>
          </div>
          <div class="panel-body">
            Search for public problems, private (can only be seen by logged in staff) problems or both.
          </div>
        </div>
        {% endif %}
      </div>
    </div>
    <div id="accountPanel" class="panel panel-default">
      <div class="panel-heading" style="cursor:pointer" data-toggle="collapse" data-target="#account">
        <h3>Account Management</h3>
      </div>
      <div id="account" class="panel-body panel-collapse collapse panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>Creating an Account and First Time Login</h4>
          </div>
          <div class="panel-body">
            You must have access to a UCT Computer Science staff email address in order to create an account.
            An email will be sent with an activation code. You will be prompted for this code the next time you attempt to log in.
            An activated account is required for most of the functionality of the website.
          </div>
        </div>
        {% if user.is_authenticated and user.is_active %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>Changing and Resetting Password</h4>
          </div>
            <div class="panel-body">
                You may request a password reset from the login page. The system will send a password reset email to the account which you registered yourself on the system with.
                Once logged in, you may change your password. You will require your current password in order to do this.
            </div>
        </div>
        {% endif %}
      </div>
    </div>
    {% if user.is_authenticated and user.is_active %}
      {% include 'problems/guide_staff.html' %}
    {% endif %}
  </div>
</div>

{% endblock %}
