{% extends 'problems/base.html' %}
{% block content %}
<h1>Welcome!</h1>
<p>This is a site dedicated to problems! Add some new ones, browse those which are currently available, improve answers and be generally awesome!</p>
<h3>A few rules:</h3>
<ul>
    <li>Anyone may browse the public problems hosted on this site.</li>
    <li>Only UCT Computer Science Department members of staff may have accounts on this site.</li>
    <li>Only users with accounts may add questions and answers to the site.</li>
    <li>Only users with accounts may mark questions as public or private.</li>
    <li>Only users with accounts may use this site to create and manage challenges.</li>
</ul>
{% endblock %}
