{% extends 'problems/base.html' %}
{% block content %}
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <div class="">
            {% include 'problems/search_problems.html' %}
        </div>
      </div>
        <div class="panel-heading clearfix">
          <span style="float:left;padding:5px">
            <h3 class="panel-title" style="padding-top:8px;">
            Results: <span class="badge">{{problems.count}}</span>
            </h3>
          </span>
        <div class="pull-right">
            {% if user.is_authenticated %}
                <span style="float:left;padding:5px">
                 <a href="{% url 'add_challenge' %}" class="btn btn-sm btn-success" type="submit">Create problem set</a>
               </span>

                <span class="pull-left"  style="float:left;padding:5px">
                   <a href="{% url 'add_problem' %}" type="button" class="btn btn-success btn-sm">
                        Add Problem
                   </a>
                 </span>
            {% endif %}
          </div>
        </div>

        {% if user.is_authenticated %}
            {% include 'problems/problem_table_auth_users_only.html' %}
        {% else %}
            {% include 'problems/problem_table_default.html' %}
        {% endif %}
    </div>

{% endblock %}
