{% extends 'problems/base.html' %}
{% block content %}

<div class="panel panel-default">
   <div class="panel-heading clearfix">
       <div class="">
         <h3 class="panel-title" style="padding-top:8px;">
         Results <span class="badge">{{problems.count}}</span>
         </h3>
       </div>
       {% if challenge %}
             <div>Editing challenge: {{challenge.name}} ({{challenge.date}} at {{challenge.time}})</div>
        {% endif %}
           <a href="{% url 'add_challenge' %}" class="btn btn-sm" type="submit">Create challenge</a>

       <div class="pull-left" style="padding-top:5px">
         <a href="{% url 'add_problem' %}" class="btn btn-success btn-sm">Add Problem</a>
       </div>
       <div class="pull-right">
         <form role="search" method="get" class="form-inline">
           <div class="form-group">
             <label for="id_categories" class="sr-only">Category:</label>
             <input type="hidden" id="id_categories" value="{{searched_categories}}" name="categories" class="input-sm form-control" placeholder="Categories">
           </div>
           <div class="form-group">
             <label for="id_difficulty" class="sr-only">Difficulty:</label>
             <select id="id_difficulty" name="difficulty" class="input-sm form-control">
               <option value="">Difficulty:</option>
                 {% for val, choice in difficulties %}
                   {% if val == searched_difficulty %}
                     <option value="{{val}}" selected="selected">{{choice}}</option>
                   {% else %}
                   <option value="{{val}}">{{choice}}</option>
                   {% endif %}
                 {% endfor %}
             </select>
           </div>
           <div class="form-group">
             <label for="id_visibility" class="sr-only">Visibility:</label>
             <select id="id_visibility" name="visibility" class="input-sm form-control">
               <option value="">Visibility:</option>
               <option value="public" {% if searched_privacy == 'public' %} selected="selected" {% endif %} >Public Only</option>
               <option value="private" {% if searched_privacy == 'private' %} selected="selected" {% endif %}>Private Only</option>
             </select>
           </div>

           <div class="form-group">
             <button class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-search"></i></button>
           </div>
         </form>
       </div>
   </div>

{% include 'problems/problem_table.html' %}
 </div>

{% endblock %}
