<div class="panel panel-default">
    <div class="panel-heading" style="position:relative">
        <h1>Password Reset</h1>
        <div>
            <h3>Invalid reset URL</h3>
        </div>
    </div>
    <div class="panel-body" style="position:relative">
        <p>The password reset URL you entered or link you followed is invalid. It is possible it had already been used, or that its time-to-live has expired.</p>
        <p>Please request a new password reset.</p>
    </div>
    <div class="panel-footer" style="position:relative">
        <a href="{% url 'password_reset' %}" class="pull-right btn btn-sm btn-primary">Request new password reset URL</a>
        <div class="clearfix"></div>
    </div>
</div>
