<div class="panel panel-default">
    <div class="panel-heading" style="position:relative">
        <h1>Password Reset</h1>
        <div style="position:relative">
            <h3>Enter new password</h3>
        </div>
    </div>
    <div id="content" class="panel-body" style="position:relative">
        <p>
            Please enter your new password twice so we can verify you typed it in correctly.
        </p>
        <form method="POST">
            {% csrf_token %}
            <table>
                <tbody>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">New password:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr><td colspan="2">&nbsp;</td></tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirm password:&nbsp;</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                </tbody>
            </table>
    </div>
    <div class="panel-footer">
        <input class="pull-right" type="submit" value="Change my password">
        <div class="clearfix"></div>
        </form>
    </div>
</div>
