{% extends 'problems/base.html' %}
{% block content %}
<div id="content" class="colM">
    <h1>Password reset</h1>
    <p>
        Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.
    </p>
    <form method="post">
        {% csrf_token %}
        <p>
            <label for="id_email">Email address:</label>
            <input id="id_email" maxlength="254" class="form-control" name="email" type="email" required>
            </p><p>
            <input class="pull-right" type="submit" value="Reset password">
        </p>
    </form>
</div>
{% endblock %}