<table class="panel-body table table-striped table-bordered">
    <thead>
    <tr>
        <th>Name</th>
        <th>Categories</th>
        <th>Difficulty</th>
        <th>Forked from</th>
        {% if user.is_authenticated %}
            <th>Visibility</th>
            <th>Last used</th>
        {% endif %}
        {% if challenge %}
            <th>Add/Remove from challenge</th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for problem in problems %}
        <tr class='clickable-row' data-href="{% url 'view_problem' problem.id %}" style="cursor: pointer;">
            <td>{{problem.title}}</td>
            <td>
                {% for category in problem.categories.all|slice:":5" %}
                    <a class="tag btn btn-xs btn-info" href="?categories={{category.name}}"> {{ category.name }} </a>

                {% empty %}
                    Uncategorised
                {% endfor %}
            </td>
            <td>{{problem.get_difficulty_display}}</td>
            <td>
                {% if problem.forked_from == "Original" %}
                    {{ "" }}
                {% else %}
                    {{problem.forked_from}}
                {% endif %}
            </td>
            {% if user.is_authenticated %}
                <td>
                    {% if problem.problem_privacy %}
                        Private
                    {% else %}
                        Public
                    {% endif %}
                </td>
                <td>
                    {% for prob_set in problem_sets %}
                        {% if problem in prob_set %}
                            {{ prob_set.name }}
                        {% endif %}
                    {% endfor %}
                </td>
            {% endif %}
            {% if challenge %}
                <td>
                    {% include 'problems/edit_challenge_form.html' %}
                </td>
            {% endif %}
        </tr>
    {% empty %}
        <tr>
        {% if user.is_authenticated %}
            <td colspan=6>
                Sorry, no problems matching this query.
            </td>
        {% else %}
            <td colspan=5>
                Sorry, no problems matching this query.
            </td>
        {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
