{% load bootstrap3 %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Problem</h4>
  </div>
  <div class="panel-body">
    {% bootstrap_form problem_form %}
    {% bootstrap_form content_form %}
    {% include 'problems/problem_categorisation.html' %}
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Solution</h4>
  </div>
  <div class="panel-body">
    {% bootstrap_form solution_form %}
    {% include 'problems/solution_categorisation.html' %}
  </div>
</div>